.App {
  text-align: center;
  background-color:  white
}

.list {
 background-color:  pink;
  height: 50px;
  width: 950px;
  color: black;
  font-size:2em;
  text-align: left;
  padding-left: 100px;
  padding-right: 100px;
}
.button {
  background-color: purple;
  height:70px;
  width : 150px;
  color: black;
  text-align: center;
}
.input {
  font-size: 1.5em;
  background-color:  white;
  height: 60px;
  width: 800px;  
  color: black;
  text-align: center;

}
.Remove {
  padding-left: 100;
  float: right;
  font-size: large;
  background-color: white;
  height: 50px;
  width : 150px;
  color: black;
  text-align: center;
}
